html {
	width:100%;
	font-family: 'Voltaire';
}

body {
	background: none repeat scroll 0 0 #2D2D2D; /* background color */
	font-size: medium; /* font size */
	margin: 0px 0px 0px 0px; /* top right bottom left */
	font-family: 'Voltaire';
}

.jspmaker {
	color: ; /* text color */
	font-size: medium; /* font size */
	font-family: 'Voltaire';
}
.columleft {
	background-color:#F1EDE8;
}
.menu {
	background-color:#F1EDE8;
}
input, textarea, select {	
	font-family: ; /* font name */
	font-size: medium; /* font size */
} 

a:hover{
	color: #DCD2BE;
	text-decoration: underline;
}
a:link {
	color: #CB5432; /* link color */
	text-decoration:none;   
}

a:visited {
	color: #CB5432; /* link color */
	text-decoration:none;   
}

/* main table */
.ewTable {
	width: 70%; /* table width */	
	color: ; /* text color */
	font-family: ; /* font name */
	font-size: medium; /* font size */
	border-collapse: collapse;
	border: none;
}

/* main table data cells */
.ewTable td {
	padding: 4px; /* cell padding */
	border: 1px solid; /* cell spacing */
	border-color: #CCCCCC;  /* table background color */
}

/* main table header cells */
.ewTableHeader {
	background-color: #594FBF; /* header color */
	color: #FFFFFF; /* header font color */	
	vertical-align: top;	
}

.ewTableHeader a {	
	color: #FFFFFF; /* header font color */	
}

/* main table row color */
.ewTableRow {
	background-color: #FFFFFF;  /* alt row color 1 */
}

/* main table alternate row color */
.ewTableAltRow {
	background-color: #F5F5F5; /* alt row color 2 */	
}

/* main table sorting indicator */
.ewTableOrderIndicator {
	font-family: Webdings;	
}

/* main table footer section */
.ewTableFooter {
	background-color: #FFFFE0;	
}

.footer {
	background: none repeat scroll 0 0 #2D2D2D;
	color:#DCD2BE;
}
.header{
	background: none repeat scroll 0 0 #2D2D2D;
	 color:#DCD2BE;
}
.logout{
	 
	 font-weight:bold;
	 font-size:18px;
}
