body {
	background-color: #DAD6FE; /* background color */
	font-size: medium; /* font size */
	margin: 0px 0px 0px 0px; /* top right bottom left */
}

.jspmaker {
	color: ; /* text color */
	font-family:'Helvetica','Verdana','Monaco',sans-serif;
	font-size: medium; /* font size */	
}
.columleft {
	background-color:#F4F4FF;
}
.menu {
	background-color:#E2E2E2;
}
input, textarea, select {	
	font-family: ; /* font name */
	font-size: medium; /* font size */
} 

a:hover{
	color: #000033;
	 text-decoration: underline;
}
a:link {
	color: #333399; /* link color */
	text-decoration:none;   
}

a:visited {
	color: #333399; /* link color */
}

/* main table */
.ewTable {
	width: 50%; /* table width */	
	color: ; /* text color */
	font-family: ; /* font name */
	font-size: medium; /* font size */
	border-collapse: collapse;
	border: none;
}

/* main table data cells */
.ewTable td {
	padding: 4px; /* cell padding */
	border: 1px solid; /* cell spacing */
	border-color: #CCCCCC;  /* table background color */
}

/* main table header cells */
.ewTableHeader {
	background-color: #594FBF; /* header color */
	color: #FFFFFF; /* header font color */	
	vertical-align: top;	
}

.ewTableHeader a {	
	color: #FFFFFF; /* header font color */	
}

/* main table row color */
.ewTableRow {
	background-color: #FFFFFF;  /* alt row color 1 */
}

/* main table alternate row color */
.ewTableAltRow {
	background-color: #F5F5F5; /* alt row color 2 */	
}

/* main table sorting indicator */
.ewTableOrderIndicator {
	font-family: Webdings;	
}

/* main table footer section */
.ewTableFooter {
	background-color: #FFFFE0;	
}
